doctype html
html(lang="en")
  head
    title=map
    script(src="resources/ol.js")
    script(src="resources/tile.stamen.js?v1.3.0")
    
    link(rel='stylesheet', href='resources/page.css')
  body
    #map.map
    #labels.labels
    script(src="resources/create.js")
